<ion-content [fullscreen]="true">
  <form #ipForm="ngForm" *ngIf="showForm" padding style="margin-top: 100px;">
    <ion-grid>
      <ion-row>
        <ion-col size="6" offset="3">
          <ion-img src="assets/icon.png" style="width: 150px;margin:20px auto"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" offset="3">
          <ion-item>
            <ion-label color="primary" position="stacked">Service IP</ion-label>
            <ion-input id="svcIP" name="svcIP" #svcIP="ngModel" required placeholder="https://127.0.0.1:8080"
              [(ngModel)]="serviceIP" autofocus>
            </ion-input>
            <!-- pattern="(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])" -->
          </ion-item>
          <!-- <p ion-text color="danger" [hidden]="svcIP.valid || (svcIP.pristine && !submitted)">
            Please enter a valid IP address.
          </p> -->
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" offset="3">
          <ion-button shape="round" color="primary" type="submit" fill="solid" expand="block" size="default"
            (click)="save()">Save</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <!-- <iframe *ngIf='!showForm' [src]='urlSafe' [style.height.%]='100' [style.width.%]='100' frameborder="0"
    allowfullscreen></iframe> -->
</ion-content>